
    <div class="row">
            <div class="col-md-3"> <img src="./image/resumeDSC00358.jpg" alt="ประวัติวัดป่าเขารักษ์"/></div>
            <div class="col-md-9">
                <img src="./image/History%20(1).png" alt="ประวัติวัดป่าเขารักษ์"/>
                <p><span style="padding-left: 15px">ก่อนที่จะก่อตั้งวัดป่าเขารักษ์</span> หลวงพ่อได้จำพรรษาอยู่กับหลวงพ่อชาและหลวงพ่อคงอยู่จนถึงประมาณ พ.ศ.2524
                        แล้วย้ายมาสร้างวัดอยู่ใน จังหวัดเลยซึ่งใช้เวลาสร้างประมาณ 5-6 ปี ในสมัยนั้นบริเวณแถววัดมีโรคระบาดเกิดขึ้น โรงพยาบาลนั้นก็อยู่ไกลวัดมาก
                    จึงไม่สะดวกที่จะจำพรรษาอยู่ที่วัดนั้นหลวงพ่อจึงได้กลับมาจำพรรษาที่บ้านเกิดในจังหวัดชลบุรี อีกประการหนึ่งด้วยที่วัดนี้เป็นของธรรมยุตินิกาย
                    แต่หลวงพ่อเป็นมหานิกาย(ในความจริงแล้วก็สามารถจำพรรษาอยู่ด้วยกันได้)หลวงพ่อมีความเห็นว่าไม่เหมาะสมในการที่จะทำกิจกกรมบางอย่าง
                    อีกทั้งพื้นที่ อาณาบริเวณของวัดค่อนข้างคับแคบ จึงได้คิดก่อตั้ง "วัดป่าเขารักษ์" ขึ้น</p>
                <p>
                    <span style="padding-left: 15px">วัดป่าเขารักษ์ก่อตั้งขึ้นเมื่อ พ.ศ.2524 </span> ปลายปี บริเวณพื้นที่ของวัดรวมทั้งหมดประมาณ 200ไร่ แต่ที่ตั้งของวัดนั้นการเข้าถึงค่อนข้างลำบาก
                    เพราะบ้านคนอยู่ไกลการคมนาคมมาก เวลาบิณฑบาตต้องเดินไป-กลับ ประมาณ 8 กิโลเมตรในการสรงน้ำ น้ำกิน น้ำใช้ ต้องอาศัยน้ำจากลำธาร
                    เพราะยังเป็นพื้นที่ที่ยังไม่เจริญเริ่มแรกก็เริ่มจากการปลูกศาลาเล็กๆ ก่อนแต่ก่อนที่จะปลูกศาลาได้นั้นเราต้องปลูกหญ้าคาไปไว้ซะก่อนแล้วค่อยๆ
                    ปรับปรุงพื้นที่ไปเรื่อยๆ และหลวงพ่อก็ได้เป็นประธานในการที่จะทำบุญผ้าป่า ก็ได้เงินทำบุญจากพ่อแม่ ครูอาจารย์ และประชาชนละแวกนั้น
                    เพื่อนำมาใช้ในการปรับปรุงวัด ซึ่งหลวงปู่ชาเองก็ได้มาช่วยในกาส่งเสริมการปฏิบัติธรรมกิจกรรมต่างๆของวัดและการทำบุญผ้าป่าครั้งนี้ด้วย
                    มีการไปมาหาสู่กันระหว่างฝ่ายผ้าป่ากับยุตมหานิกายกันอยุ่ตลอด
                </p>
            </div>
    </div>
    <div>
        <p>
        <b>จุดประสงค์ที่ก่อตั้งวัดขึ้นเพื่อ</b>
            <ul class="list-group">
                <li class="list-group-item">1.เพื่อใช้สอยพื้นที่ในการประพฤติปฏิบัติธรรม เพราะปัจจุบันนี้ป่าที่เราจะสามารถเข้าไปธุดงนั้น ลดน้อยลงไปเรื่อยๆ ซึ่งในการปฏิบัติธรรมนั้นต้องอาศัยที่สงบ
                    พอสมควรจึงได้สร้างวัดนี้ขึ้นมา
                </li>
                <li class="list-group-item">2.เพื่อเป็นการส่งเสริมการปฏิบัติธรรม เมื่อสร้างวัดแล้วจึงจำเป็นที่จะต้องสร้างศาลาขึ้น เพื่อให้ญาติโยมเข้ามาทำบุญและปฏิบัติธรรม</li>
                <li class="list-group-item">3.เพื่อเป็นที่พักสงฆ์ เพราะในการจำพรรษานั้น จำเป็นต้องอาศัยศาลาในการจำพรรษา เพราะพระใหม่ไม่สามารถที่จำพรรษาในร่ม ในกรฏ หรือในถ้ำได้</li>
                <li class="list-group-item">4.เพื่อเป็นพื้นที่ในการรักษากรรมฐาน</li>
            </ul>
        <b>กิจกรรมทางสงฆ์ที่ทำร่วมกันของวัดนี้มีดังนี้</b>
        <ul class="list-group">
            <li class="list-group-item">1.กิจวัตรตอนเช้าจะเริ่มประมาณตี 3 แล้วตี 3.30 ก็จะเริ่มตีระฆัง</li>
            <li class="list-group-item">2.เวลา 4.30 จะมีการนั่งสมาธิ และทำวัดเช้า จะเสร็จประมาณเวลาตี 5</li>
            <li class="list-group-item">3.เวลา 5.30 ก็จะเริ่มปัดกวาดเช็ดถู  แล้วเตรียมตัวที่จะออกไปบิณฑบาต หลังจากกลับมาจากบิณฑบาตแล้วเริ่มฉันอาหาร</li>
            <li class="list-group-item">4.หลังจากฉันอาหารเรียบร้อยแล้ว ก็จะอนุโมทนาญาติโยมแยกย้ายไปตามกุฏิ ไปปฏิบัติธรรม นั่งภาวนา เดินจงกรม จะเสร็จประมาณ บ่าย 3 โมง</li>
            <li class="list-group-item">5.เวลาบ่าย 3 โมง พระสงฆ์จะออกจากกุฏิ ก็จะเริ่มปัดกวาดเช็ดถู ลานวัดอีกครั้ง</li>
            <li class="list-group-item">6.เวลา 6 โมงเย็น  ก็จะไปสรงน้ำ ซักผ้า</li>
            <li class="list-group-item">7.หลังจากทำกิจส่วนตัวเสร็จแล้ว ก็จะมานั่งสมาธิ ประมาณ 1 ชั่วโมง</li>
            <li class="list-group-item">8.เวลา 2 ทุ่ม ก็จะมีการเทศนา และ แสดงธรรม ถ้าวันไหนมีเหตุการณ์ที่จะต้องเทศน์ ก็จะเทศน์ถึงประมาณตี 3.30หลังจากเทศนาแล้วก็จะมีการบำเพ็ญเพียร
                จนถึงเวลา 5 ทุ่ม</li>
        </ul>
        </p>
    </div>
