<img src="./image/logowat01.png" alt="วัดป่าเขารักษ์"/>
<P><span style="padding-left:15px;font-weight: bold">ประชาสัมพันธ์เรื่อง วัดป่าเขารักษ์ </span>
    ญาติโยมท่านใดสนใจหาวัดศูนย์ปฏิบัติธรรมแบบสงบ ไม่ได้มีพิธีหรือขั้นตอนอะไรให้ยุ่งยากลำบากใจ
    โดยท่านยังสามารถพักที่วัดป่าได้เลย บรรยากาศในวัดนั้นเงียบสงบมาก ปราศจากสิ่งรบกวนจากโลกภายนอก
    โดยมีไฟฟ้าและน้ำปะปาให้ใช้ในศาลาโยมพร้อมห้องน้ำสำหรับใช้งาน สามารถติดต่อ อ.จำนงค์ (ศาลาโยม)0848009360
    เพื่อขอเข้าปฎิบัติธรรมกับทางวัดป่าเขารักษ์ ได้โดยตรงเรียนเชิญผู้สนใจทุกท่าน เข้ามาปฏิบัติธรรมด้วยกัน
    <label class="label label-info" style="cursor: pointer" ng-click="changelocation('pageNews')">ตารางปฎิบัติธรรม</label>
</P>

<p><span style="padding-left:15px;font-weight: bold">ประกาศจากทางวัด</span>
    เนื่องจากโบสถ์อเนกประสงค์วัดป่าเขารักษ์ที่วางศิลาฤกษ์เมื่อปี 52
    ได้สร้างเดินหน้าถึงโค้งสุดท้ายแล้วท่านอาจารย์ประเมินว่าใช้งบอีกประมาณค่อนข้างมาก
    ถึงจะสร้างเสร็จสมบูรณ์ทั้งตัวโบสถ์ + กำแพงแก้ว + ใบเสมาธรรมจักร+บันไดขึ้นโบสถ์ทั้งด้านหน้าและด้านข้าง
    จึงใคร่ขอเชิญชวนร่วมบริจาคงบในการสร้างโบสถ์โค้งสุดท้ายนี้ จึงขอบอกมาเพื่อประชาสัมพันธ์ให้คนอื่นๆ
    ได้รับรู้และมีโอกาสได้ร่วมกัน เพื่อจบของการสร้างโบสถ์อเนกประสงค์ เปิดให้ญาติโยมเข้ากราบสักการะทุกวัน
    ใครต้องการประสงค์จะ ร่วมทำบุญครั้งนี้สามารถติดต่อ พระอาจารย์ พงษ์ษา มนุญโณ หรือ ติดต่อ อ.จำนงค์ ถาทอง
    วัดป่าเขารักษ์ ต.ท่าตะคร้อ อ.หนองหญ้าปล้อง จ.เพชรบุรี 76160 โทรศํพท์ที่แจ้งอยู่ด้านล่าง
    หรือจะเดินทางมาที่วัดสามารถดูแผนที่ได้ที่
<label class="label label-info" style="cursor: pointer" ng-click="changelocation('pageContact')">หน้าติดต่อทางวัด</label>
</p>
<div class="row">
    <div class="color-md-3 col-sm-3"></div>
    <div class="col-md-3 col-sm-3" style="padding:9px;">
        <img src="./image/wat/1.JPG" alt="การสร้างโบสถ์"/>
    </div>
    <div class="col-md-3 col-sm-3" style="padding:9px;">
        <img src="./image/wat/2.JPG" alt="การสร้างโบสถ์"/>
    </div>
    <div class="color-md-3 col-sm-3"></div>
</div>



