<img src="./image/headpic.jpg" alt="วัดป่าเขารักษ์" style="width:100%"/>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!/">หน้าหลัก</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul   class="nav navbar-nav">
            <li>
                <a href="#!/pageHistory">ประวัติของวัดป่าเขารักษ์</a>
            </li>
            <li>
                <a href="#!/pageNews">ข่าวประชาสัมพันธิ์</a>
            </li>
            <li>
                <a href="#!/pagePicture">แฟ้มภาพ</a>
            </li>
            <li>
                <a href="#!/pageSchdule">ตารางปฏิบัติธรรมของพระ และฆราวาส</a>
            </li>
            <li>
                <a href="#!/pageContact">ติดต่อทางวัด</a>
            </li>
        </ul>
    </div>
</nav>