<h1>วัดป่าเขารักษ์</h1>

<h3>ที่อยู่ :: หมู่ที่ 6 ตำบลท่าตะคร้อ อำเภอหนองหญ้าปล้อง จังหวัดเพชรบุรี 76160</h3>
<h4>เบอร์ติดต่อ : 084-8009360</h4>

<div>ศาลาโยม : 084-8009360 </div>
<div>หลวงพ่อ : 083-0622987 , 081-0131856</div>

<p>(หากโทรติดแต่ไม่มีผู้รับอาจไม่สะดวกรับในช่วงนี้เพราะอาจทำกิจวัตรอยู่ หรือหากโทรไม่ติดบางครั้งแสดงว่าปลั๊กดูดสัญญาณโทรศัพท์ถูกปลดเนื่องจากฝนตกฟ้าคะนอง ก็ขออภัยทุกท่านเป็นอย่างสูง)</p>
<hr>
<p style="padding-top: 10px;"><span style="padding-left: 15px;">การเดินทางถ้ามาจาก กทม.</span>
    ทั้งพระราม 2 และเพชรเกษม จะผ่าน อ.เขาย้อย ของ จ.เพชรบุรี
    ขับผ่านไปประมาณ 15 กม. สังเกตุซ้ายมือจะมีสะพานสำหรับรถเพื่อ ข้ามถนนมาฝั่งขวาและเข้าไปทาง
    ไปยังเส้นทาง อ.หนองหญ้าปล้อง (แต่ถ้าขับเลยสพานไปให้หาจุดกลับรถไม่ไกล จากสพาน)
    เข้าไปจากจุดนี้อีกประมาณ 11 กม. จะเจอทางแยกเข้าวัดซ้ายมือสังเกตุป้ายไม้ ชื่อวัด
    จากนั้นเข้าถนนนี้ไปอีก 3 กม. ถนน บางช่วงเป็นถนนรุกรัง ให้ค่อยๆขับเข้าไปจะเจ้าป้ายบอกทางเข้าวัด
    <b>ขอให้เดินทางโดยสวัสดิภาพทุกท่าน</b></p>
<iframe width="750" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.th/maps?ie=UTF8&amp;q=%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9B%E0%B9%88%E0%B8%B2%E0%B9%80%E0%B8%82%E0%B8%B2%E0%B8%A3%E0%B8%B1%E0%B8%81%E0%B8%A9%E0%B9%8C&amp;fb=1&amp;gl=th&amp;hq=%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9B%E0%B9%88%E0%B8%B2%E0%B9%80%E0%B8%82%E0%B8%B2%E0%B8%A3%E0%B8%B1%E0%B8%81%E0%B8%A9%E0%B9%8C&amp;hnear=&amp;radius=15000&amp;ll=13.107901,99.786629&amp;spn=0.060856,0.104628&amp;t=h&amp;z=14&amp;iwloc=A&amp;cid=3154382393950885468&amp;output=embed"></iframe><br />
<small><a href="https://maps.google.co.th/maps?ie=UTF8&amp;q=%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9B%E0%B9%88%E0%B8%B2%E0%B9%80%E0%B8%82%E0%B8%B2%E0%B8%A3%E0%B8%B1%E0%B8%81%E0%B8%A9%E0%B9%8C&amp;fb=1&amp;gl=th&amp;hq=%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9B%E0%B9%88%E0%B8%B2%E0%B9%80%E0%B8%82%E0%B8%B2%E0%B8%A3%E0%B8%B1%E0%B8%81%E0%B8%A9%E0%B9%8C&amp;hnear=&amp;radius=15000&amp;ll=13.107901,99.786629&amp;spn=0.060856,0.104628&amp;t=h&amp;z=14&amp;iwloc=A&amp;cid=3154382393950885468&amp;source=embed" style="color: #0000ff; text-align: left;">ดูแผนที่ขนาดใหญ่ขึ้น</a></small>

