<img src="./image/head.png" alt="ปฏิบัติธรรม สมาธิ สถานที่"/>
<h2>เชิญร่วมปฏิบัติธรรม ณ วัดป่าเขารักษ์</h2>
<p>วัดป่าเขารักษ์ ณ วันนี้ มีความพร้อมที่จะให้ผู้ที่สนใจปฏิบัติธรรมหรือผู้แสวงหาที่สงบเงียบ พักผ่อนใจ ขอโอกาศเข้าพักค้างได้แล้ว โดยมีข้อปฏิบัติดังนี้</p>

<ul>
    <li>04:00 - 05:30 น.        สวดมนต์ทำวัตรเช้าที่ศาลาพร้อมพระสงฆ์</li>
    <li>06:00 - 07:30 น.	 	ทำความสะอาด (ช่วงพระบิณฑบาต)</li>
    <li>08:00 - 09:30 น.	 	รับประทานอาหาร (และทำความสะอาด)</li>
    <li>09:30 - 15:00 น.	 	นั่งสมาธิ เดินจงกรม หรืออื่นๆ ณ กุฏิที่พัก</li>
    <li>15:00 - 17:00 น.	 	ทำความสะอาดพร้อมพระสงฆ์</li>
    <li>18:00 - 20:30 น.	 	สวดมนต์ทำวัตรเย็น ฟังธรรม</li>
    <li>20:30 - 22:00 น.	 	นั่งสมาธิ เดินจงกรม ณ กุฏิที่พัก</li>
</ul>
<span class="label label-success">* หมายเหตุ หลังวันพระ งดสวดมนต์ทำวัตรเย็นที่ศาลา 1 วัน</span>
<div class="text-center jumbotron jumbotron-message">
    <div>" รีบเร่งชวนกันสร้างกรรมดีให้ตัวเอง เพื่อจองตั๋วลี้ภัยไปสวรรค์ช่วงโลกมนุษย์ในยุคเสื่อมใกล้สิ้นสุดอีกรอบนี้... "</div>
    <div>" ภพนี้เป็นมนุษย์ ภพหน้าจะไปไหน !? (มี ๓๒ ภูมิ) "</div>
    <div>" ทำเองด้วย  บอกต่อด้วย  เป็นการทำบุญที่ครบทั้งสอง... "</div>
</div>

<div><img src="./image/1.png" alt="ร่วมทำบุญวัดป่า"/></div>
<label class="label label-info">ต้องขอชื่นชมทุกท่านที่ช่วยกันสมทบทุนสร้างโบสถ์จนเสร็จเรียบร้อย ไว้มีเวลาทางผมซึ่งเป็นผู้ดูและเว็บ จะถ่ายรูปมาลงเพิ่มให้ทุกท่านได้ชมกัน</label>
<h2>ขอเชิญชวนร่วมสมทบงบสร้างโบสถ์โค้งสุดท้ายปลาย ปี 2556(เสร็จลุล่วงไปแล้ว)</h2>
<ul>
    <li>1. กระเบื้องปูนั่งโบสถ์หลังพระประธาน30 	บาท</li>
    <li>2. กระเบื้องปูพื้นโบสถ์ + บันได + รอบโบสถ์ 50 บาท</li>
    <li>3. ปูกระเบื้องข้อ 1 - 2 ตารางเมตรละ 500 บาท</li>
    <li>4. ลูกนิมิตลูกเอก (ที่ 9) กองละ 1,000 บาท</li>
    <li>5. กำแพงแก้วรอบโบสถ์ช่องละ 20,000 บาท</li>
    <li>6. ลูกนิมิต 8 ลูก ลูกละ (เหลือ 4) 100,000 บาท</li>
    <li>7. สมทบสร้างตามศรัทธา</li>
</ul>
<div class="text-center">
    <div>มอบถวายที่วัดเพื่อความสบายใจ หรือ โอนเข้าบัญชี : จำนงค์ กาทอง(ผู้ดูแลฝ่ายฆราวาส)</div>
    <div>ธนาคาร กรุงไทย บัญชีออมทรัพท์ เลขที่บัญชี 703 - 1-53845-9</div>
    <div>โทรแจ้ง 084 - 8009360 ตั้งแต่เวลา 9.30 - 17.00 น.</div>
</div>
<div class="jumbotron jumbotron-message">
    <div>***บุญที่เราสั่งสมจะเป็นการ์ด (guard) คุ้มครองชีวิตเราในภพนี้ และเป็นการ์ด (guard) นำจิตวิญญาณเราไปเกิด ณ ที่ดีๆ ในพบข้างหน้า
    ของจงรีบสร้างให้มากที่สุด</div>
</div>

