<h2>ตารางปฏิบัติธรรมของพระ และ ฆราวาส ณ วัดป่าเขารักษ์เพชรบุรี</h2>
<p>สถานที่ อุโบสถ อเนกประสงค์</p>
<p>ผู้เข้าพักปฏิบัติธรรมควรรักษาศิล 8</p>



<h4>ฆราวาส</h4>
<ul>
    <li>03.30 - 04.00 น.	  ตื่นนอน</li>
    <li>04.00 - 05.30 น.  นั่งสมาธิ สวดมนต์ ทำวัตรเช้า</li>
    <li>06.00 - 07.30 น.  ทำความสะอาด เก็บ กวาด เช็ด ถู ทำอาหารที่จำเป็นเพิ่มเติม</li>
    <li>08.30 - 09.30 น.  รับประธานอาหาร และทำความสะอาด</li>
    <li>09.30 - 11.30 น.  ปฎิบัติธรรมภาคเช้า (นั่งสมาธิ, เดินจงกรม)</li>
    <li>11.30 - 13.30 น.  ทำกิจส่วนตัว ณ กุฏิที่พัก</li>
    <li>13.30 - 15.30 น.  ปฎิบัติธรรมภาคบ่าย</li>
    <li>15.30 - 17.00 น.  ทำความสะอาดวัด , กุฏิที่พัก , ห้องสุขา</li>
    <li>18.00 - 22.00 น.  ทำวัตรเย็นที่ศาลา , ฟังธรรมจากหลวงพ่อ</li>
</ul>


<h4>พระสงฆ์</h4>

<ul>
    <li>04.00 - 05.30 น.	 	ทำวัตรเช้าที่ศาลาพระประธาน</li>
    <li>06.00 - 07.30 น.	 	บิณฑบาตร</li>
    <li>08.30 - 09.30 น.	 	ฉันภัตตาหาร , ทำความสะอาดบาตรและศาลา</li>
    <li>09.30 - 15.30 น.	 	ทำกิจส่วนตัว (ภาวนา ปฎิบัติธรรม)</li>
    <li>15.30 - 17.00 น.	 	ทำความสะอาดวัด , กุฏิที่พัก , ห้องสุขา</li>
    <li>17.00 - 17.30 น.	 	ฉันน้ำปานะที่ศาลาหลวงพ่อ</li>
    <li>18.00 - 22.00 น.	 	ทำวัตรเย็นที่ศาลา , ฟังธรรมจากหลวงพ่อ</li>
</ul>
