<h2>ตารางปฏิบัติธรรมของพระ และ ฆราวาส ณ วัดป่าเขารักษ์เพชรบุรี</h2>

<h4>พระสงฆ์</h4>

<ul>
    <li>04.00 - 05.30 น.	 	ทำวัตรเช้าที่ศาลาพระประธาน</li>
    <li>06.00 - 07.30 น.	 	บิณฑบาตร</li>
    <li>08.00 - 09.30 น.	 	ฉันภัตตาหาร , ทำความสะอาดบาตรและศาลา</li>
    <li>09.30 - 15.00 น.	 	ทำกิจส่วนตัว (ภาวนา)</li>
    <li>15.00 - 17.00 น.	 	ทำความสะอาดวัด , กุฏิที่พัก , ห้องสุขา</li>
    <li>17.00 - 17.30 น.	 	ฉันน้ำปานะที่ศาลาหลวงพ่อ</li>
    <li>18.00 - 20.30 น.	 	ทำวัตรเย็นที่ศาลา , ฟังธรรมจากหลวงพ่อ</li>
</ul>

<h4>ฆราวาส</h4>
<ul>
    <li>04.00 - 05.30 น.  ทำวัตรเช้าพร้อมพระสงฆ์</li>
    <li>06.00 - 07.30 น.  ทำความสะอาด เก็บ กวาด เช็ด ถู ทำอาหารที่จำเป็นเพิ่มเติม</li>
    <li>08.00 - 09.30 น.  รับประธานอาหาร และทำความสะอาด</li>
    <li>09.30 - 15.00 น.  ทำกิจส่วนตัว ณ กุฏิที่พัก</li>
    <li>15.00 - 17.00 น.  ทำความสะอาดวัด , กุฏิที่พัก , ห้องสุขา</li>
    <li>18.00 - 20.30 น.  ทำวัตรเย็นที่ศาลา , ฟังธรรมจากหลวงพ่อ</li>
</ul>